extends layout

block content
  h1(class="pageTitle") #{title}
  
  

  form(method='POST' action='')
    div.formContent
      label(class="formLabel" for='name') Genre:
      input#name.formElement(type='text', placeholder='Fantasy, Comedy etc.' name='name' value=(undefined===genre ? '' : genre.name))
    if errors
      for error in errors
        div(class="error")!= error.msg
    button.buttonMenu(type='submit') Submit

  