extends layout

block content
  h1(class="pageTitle")= title

  div(class="filmContainer")
    each genre in genre_list
      div(class="singleGenre")
        a(href=genre.url) 
          h3(class="movieTitle" id="genreLink")= genre.name

    else
      h4 There are no Genres.